<% include ../partials/header %>

<style>
    h1, .caption  {
        font-family: 'Exo', sans-serif; 
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class = "container-fluid" ">
    
    <div class="row"style = "border: 1px solid black; margin-left: 14px; margin-right: 14px; text-align: center; margin-top: 15px;">
    <div class="col-sm" style="padding: 15px;">
        <h1 style="margin-left: 15px;">
            <%= user.firstName + " " + user.lastName %>
            <i class="fa fa-user fa-4x"></i>
        </h1>
        <div class="thumbnail">
            <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
            <div class="caption"><a href="/forgot">Click here</a> to change your password</div>
        </div>


    <div class = "col-sm" style= "font-family:'Exo', sans-serif;" >
       
        <h3><%= user.username %>'s visited places: </h3>
        <ul>
                <% places.forEach(function(place){ %>
                    
                    <li>
                        <a href="/places/<%=place.id %>"><%= place.name %></a>    
                    </li>
                <% }); %>
        </ul>
    </div>
</div>
</div>

<% include ../partials/footer %>
